streamlit==1.51.0
openai>=1.0.0
python-dotenv==1.0.0
PyPDF2==3.0.1
docx2txt==0.8
google-api-python-client==2.90.0
google-auth==2.22.0
gspread==5.10.0
SpeechRecognition==3.9.0
streamlit-webrtc==0.47.0
numpy==1.25.0
gTTS==2.3.0
pydub==0.25.1
